.emptyState {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 0;
}

.emptyState>p:first-child {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #ACACAC;
}

.emptyState>p:last-child {
    font-size: 36px;
    font-weight: 500;
    line-height: 54px;
    color: #666666;

}

@media screen and (max-width:500px) {
    .emptyState {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 120px;
    }

    .emptyState>p:first-child {
        font-size: 14px;
        width: 100%;
        height: 21px;
        margin: 20px 0px 0px 0px;
    }

    .emptyState>p:last-child {
        font-size: 18px;
        width: 100%;
        height: 27px;
        margin: 0;
    }


}