.deleteModal{
    border-radius: 4px;
    height: 200px;
    width: 400px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    background: #fff;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deleteModal>button{
    margin: 50px 20px;
    width: 40px;
    line-height: 28px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: none;
}

.deleteModal>p{
    margin-top: 52px;
    color: #008594;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.backdrop{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
   background: #00000040;

}

@media screen and (max-width:500px) {
    .deleteModal{
        width: 250px;
        height: 125px;
    }
    .deleteModal>p{
        margin: 10px;
    }
    .deleteModal>button{
        margin: 10px;
    }

}