.todoList {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 100%;
    padding: 20px 0px;
    cursor: pointer;
}

.todo {
    width: 100%;
    margin-top: 82px;
}

.list {
    display: flex;
    align-items: center;
}

.todoList:hover {
    background: #F6F6F6;
}

.checkbox {
    height: 18px;
    width: 18px;
}

.text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #666666;
    margin-left: 20px;
    word-break: break-all;
}

.deletButton {
    border: none;
    background: none;
}

.checked {
    color: #ACACAC;
    ;
}

@media screen and (max-width:500px) {
    .text {
        font-size: 16px;
    }

    .todo {
        margin-top: 64px;
    }

}