.completedCheckbox {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 150px;
}

.checkbox {
    height: 18px;
    width: 18px;
}

.completed {
    font-weight: 500;
    font-size: 18px;
    color: #666666;
    margin-left: 8px;
}

@media screen and (max-width:500px) {
    .completedCheckbox {
        margin: 92px 0 0 0;
    }

    .completed {
        font-size: 16px;
    }
}