.formContainer {
    width: 100%;
    margin-top: 61px;
}

.formItems {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.task {
    display: block;
    color: #174348;
    font-size: 18px;
    font-weight: 400;

}

.addInput {
    border: none;
    width: 80%;
}

.addInput::placeholder {
    color: #DFDFDF;
    font-size: 18px;
}

.addInput:focus {
    outline: none;
}

.inputWrapper {
    width: calc(100% - 124px);
}

.inputWrapper>div {
    position: relative;
    border: 1px solid #FFCD04;
    max-width: 954px;
    height: 52px;
    border-radius: 4px;
    padding: 13px 16px;
    box-sizing: border-box;
}

.addButton {
    width: 100px;
    height: 52px;
    background: #008594;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    margin-left: 24px;
    font-size: 18px;
}

.errorInput {
    border: 1px solid red !important;
}

.errorText {
    font-size: 12px;
    font-weight: 400;
    color: #FF3104;
    padding: 5px 0;
}

.clearButton {
    background: none;
    border: none;
    position: absolute;
    right: 30px
}

@media screen and (max-width:500px) {

    .formItems {
        display: block;
    }

    .inputWrapper {
        width: 100%;
    }

    .inputWrapper>div {
        padding: 9px 16px;
        height: 44px;
    }

    .task {
        font-size: 16px;
        margin-top: 58px;
    }

    .addInput::placeholder {
        font-size: 12px;
    }

    .addButton {
        font-size: 16px;
        width: 92px;
        height: 44px;
        position: absolute;
        right: 0;
        top: 76px;
    }

}