@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Lacquer&family=Poppins&family=Sacramento&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

input[type='checkbox']{
    width: 18px;
    height: 18px;
    position: relative;
}

input[type=checkbox]:checked::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 18px;
    width: 18px;
    left: 0;
    top: 0;
    background-color:  #008594;
    font-family: "Montserrat";
    border-radius: 2px;
    border: 1px solid rgb(150 150 150 / 30%);
  }
  
  input[type=checkbox]:checked::after {
    content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="white" viewBox="0 0 24 24"><path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
  }